@model IEnumerable<Evaluacion02.Models.SucursalModels>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Sucursales</h2>


<p>
    @Html.ActionLink("Crear Nuevo", "SucursalAdd")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecharegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_banco)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecharegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_banco)
            </td>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.id_banco)
            </td>
            <td>
                @Html.ActionLink("Editar", "SucursalEdit", new { id = item.id, fecha = item.fecharegistro, nombre = item.nombre, direccion = item.direccion,id_banco=item.id_banco,operacion= "modificar" }) |
                @Html.ActionLink("Eliminar", "SucursalEdit", new {  id=item.id,id_banco=0, operacion = "eliminar" })
            </td>
        </tr>
       
    }
    
</table>