@model Evaluacion02.Models.SucursalModels

@{
    ViewBag.Title = "SucursalAdd";
}

<h2>Registro de Sucursal</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sucursal</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.nombre)
                @Html.TextBoxFor(m => m.nombre)
                @Html.ValidationMessageFor(m => m.nombre)
            </li>
            <li>
                @Html.LabelFor(m => m.direccion)
                @Html.TextBoxFor(m => m.direccion)
                @Html.ValidationMessageFor(m => m.direccion)
            </li>
            <li>
                @Html.LabelFor(m => m.lbancos)
                @Html.DropDownListFor(m=>m.id_banco, new SelectList(Model.lbancos,
                               "id", "nombre"), "-- Seleccionar --")
                @Html.ValidationMessageFor(m => m.id_banco)
            </li>

            
        </ol>
        <input type="submit" value="Registrar" />

    </fieldset>

}
<div>
    @Html.ActionLink("Retornar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

