@model Evaluacion02.Models.BancoModels

@{
    ViewBag.Title = "BancoEdit";
}

<h2>Modificar Banco</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Banco</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.id)
                @Html.TextBoxFor(m => m.id, new { @readonly = "readonly"})
            </li>
            <li>
                @Html.LabelFor(m => m.nombre)
                @Html.TextBoxFor(m => m.nombre)
                @Html.ValidationMessageFor(m => m.nombre)
            </li>
            <li>
                @Html.LabelFor(m => m.direccion)
                @Html.TextBoxFor(m => m.direccion)
                @Html.ValidationMessageFor(m => m.direccion)
            </li>            
        </ol>
        <input type="submit" value="Guardar" />
    </fieldset>

}
<div>
    @Html.ActionLink("Retornar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


