@model IEnumerable<Evaluacion02.Models.BancoModels>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Bancos</h2>


<p>
    @Html.ActionLink("Crear Nuevo", "BancoAdd")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecharegistro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecharegistro)
            </td>
            <td>
                @Html.ActionLink("Editar", "BancoEdit", new { id = item.id, fecha = item.fecharegistro, nombre = item.nombre, direccion = item.direccion,operacion= "modificar" }) |
                @Html.ActionLink("Eliminar", "BancoEdit", new {  id=item.id, operacion = "eliminar" })
            </td>
        </tr>
       
    }

</table>